
*,
*::before,
*::after {
  box-sizing: border-box;
}


* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  /*tegnsætningstegn placeres uden for tekstenes marginer  */
  hanging-punctuation: first last;
}


/* responsive billeder */

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

/*for at billeder ikke skal kunne overskride deres beholder*/
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}


/* Forbedre mediestandarder */
img,
picture,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* fjerner indbyggede typografi stilarter */
input,
button,
textarea,
select {
  font: inherit;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-family: "Montserrat", sans-serif;
}

p {
  margin-top: 5px;
  margin-bottom: 20px;
  
}


main {
  max-width: 700px;
  margin: auto;
  margin-top: 40px;
}



h2 {
  font-size: 1.2rem;
  font-weight: 600;
}
h3 {
  font-size: 1rem;
  font-weight: 600;
}

h1{
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

body{
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}



.fixed-nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Sørger for at navbaren vises øverst */
  background-color: #fe636b; /* grundlæggende baggrundsfarve */
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2); /* Tilføjer skygge bag navbaren */
}

nav{
  background-color: #fe636b;
  box-shadow: 3px 3px 5px rgb(0,0,0,0.2);
}

nav ul{
  width:100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center; 
}

nav li{
  height: 60px;
}

nav a{
  height: 100%;
  padding: 0 30px; 
  text-decoration: none; 
  display:flex;
  align-items:center;
  color: white; 
}

nav a:hover{
  background-color: #e15058;
}

nav li:first-child{
  margin-right:auto;
}


.dropdown{
  position:relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fe636b;
  color: white;
  list-style: none; 
  z-index: 1;
  padding:0;
  margin:0;
  min-width: 160px;

}

.dropdown-menu li {
  width: 100%;
}

.dropdown-menu a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-menu a:hover {
  background-color: #e15058;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.sidebar .dropdown-menu{
  position: static;
  background-color:  #a83939;
}

.sidebar a {
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  display: block;
}



.sidebar{
  position:fixed;
  top: 0;
  left:0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: #fe636b;
  box-shadow: 10px 0 10px rgb(0,0,0,0.1); 
  display: none;
  flex-direction: column;
  align-items: flex-start; 
  justify-content:start;
}

.burgermenu-button{
  display:none;
}

.sidebar li{
  width:100%;
}

.logo-container{
  margin-right: auto;
  height:40px;
  padding: 0 20px;
}


@media(max-width: 800px){
  .hideOnMobile{
    display:none;
  }
  .burgermenu-button{
    display:block;
  }

  .special-title{
    font-size: 1.5rem;
  }

}


.indhold{
  padding: 30px;

}

.tekst-indhold{
  padding-top: 20px;
}

.punkter{
  padding: 20px;
  margin-top:0;
}

.punkter li{
  margin-top:0;
}

.ingen{
  margin-bottom: 0;
}

.forside-billede1 {
  position: relative;
  display: inline-block; /* sørger for at billedet ikke strækker sig mere end dets eget indhold */
}

.runde-hjørner {
  width: 100%;
  height: auto;
  border-radius: 10px; /* billeder */
}

/*forsidens knapper starter nedenunder*/


.btn-link {
  position: absolute;
  bottom: 40px; 
  left: 25px;   
  background-color: #fe636b;
  color: white;
  border-radius: 5px;
  padding: 10px 45px;
  border: none;
  font-size: 18px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s ease;
  text-decoration: none; /* fjerner understregning fra ankerelementet */
  display: inline-block; /* Sikrer, at knapstilen anvendes korrekt */
}

.btn-link:hover {
  background-color: #ff4f58; 
}

.btn-link:active {
  transform: scale(0.96);
}


.btn2-link {
  margin-top: 0px;
  background-color: #3D71C0;
  color: white;
  border-radius: 5px;
  padding: 10px 40px;
  border: none;
  font-size: 14px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s ease;
  text-decoration: none; 
  display: inline-block; 
}

.btn2-link:hover {
  background-color: #305e9b; 
}

.btn2-link:active {
  transform: scale(0.96);
}


/*Stylling for Event starter nedenunder*/ 


.btn-container-2{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.btn-event {
  margin-top: 2rem;
  background-color: #3D71C0;
  color: white;
  border-radius: 5px;
  padding: 10px 40px;
  border: none;
  font-size: 14px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s ease;
  text-decoration: none; 
  display: inline-block;

}

.btn-event:hover {
  background-color: #305e9b; 
}

.btn-event:active {
  transform: scale(0.96);
}

.slider-wrapper{
  position: relative;
  max-width: 48rem;
  margin: 0 auto;
}

.slider{
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 0.5rem;
  scrollbar-width: none; 
}

.slider::-webkit-scrollbar {
  display: none; 
}

.slider img{
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}

.slider-nav{
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.slider-nav a{
   width: 0.5rem;
   height: 0.5rem;
   border-radius: 50%;
   background-color: #fff;
   opacity: 0.75;
   transition: opacity ease 250ms;
}

.slider-nav a:hover{
  opacity: 1;
}

.heart{
  margin-top:10px;
  text-align: center;
}

/*Styling for smagsvarianter starter nedenunder*/


.dropdown-box {
  position: relative;
  display: inline-block;
  margin-bottom: 2rem;
}

.dropbtn {
  background-color: #fe636b;
  color: white;
  padding: 10px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  width: 200px; 
  text-align: center; 
}

.dropbtn:hover {
  background-color: #ff4f58;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #595959;
  width: 200px; /* så at dropdown får samme bredde som knappen */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-size: 14px;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #7a7a7a;
}

.dropdown-box:hover .dropdown-content {
  display: block;
}


/*Produkterne starter nedenunder (Smagsvarianter-siden)*/

.shop-container {
  padding: 5rem 3rem 4rem 3rem;
}

.special-title {
  margin-bottom: 1.5rem;
}

.product-box {
  background-color: #FFC0C0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem; 
  border-radius: 10px;
}

.product-box:hover{
  padding: 15px;
  border: 3px solid #f79499;
  
}


.product-box img{
  border-radius: 10px;
  height:300px;
  object-fit:cover;
  object-position:center;
}


.product-box h2 {
  margin-top: 10px;
  color: white;
}

.product-box h2, h4, span, button {
  text-align: center;
}

.product-box button {
  margin-bottom: 1rem;
}

.shop-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, auto));
  gap: 1.5rem;
}

.product-box button{
  margin-top: 15px;
  background-color: white;
  color: black;
  border-radius: 5px;
  padding: 10px 45px;
  border: none;
  font-size: 18px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s ease;
  
}

.product-box button:hover{
  background-color: #ACD64C;

}

.product-box button:active {
  transform: scale(0.96);
}

/**STYLLING AF KURV STARTER NEDENUNDER**/

.special-2{
  padding: 5rem 1rem 0px;
}

.varer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 10px;
  border: 2px solid #ededed;
  border-radius: 5px;
}

.product-img {
  margin-right: 20px;
  height:150px;
  width:100px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}


.produkt-beskrivelse {
  flex-grow: 1;
}

.product-details h3 {
  margin: 0;
  font-size: 1.2em;
}

.product-details p {
  margin: 5px 0;
}

.quantity-control {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.minus, .plus {
  width: 35px;
  height: 25px;
  background-color: #D9D9D9;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}


.quantity {
  width: 40px;
  text-align: center;
  border: 1px solid #ccc;
  margin: 0;
}


.trash-icon {
  margin-left: 10px;
  cursor: pointer;
}

.checkout{
  display: block;
  width: 200px;
  margin: 20px auto;
  padding: 10px;
  background-color: #ACD64C;
  color: black;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  text-align: center;
  transition: transform 0.2s ease;
}


.checkout:hover{
  background-color: #c2ed5c;
}

.checkout:active {
  transform: scale(0.96);
}


@media (min-width: 800px) {
  .quantity-control {
      margin-left: 0;
  }

  .cart-item {
      justify-content: space-between;
  }
}



/***STYLLING AF FOOOTER NEDENUNDER ****/

footer {
  background-color: #e15058;
  position: relative;
  padding-bottom: 50px; 
}

.footer-wrapper {
  padding: 20px;
  display: flex;
  justify-content: space-between; /* Fordeler plads jævnt mellem elementer */
  align-items: flex-end; /* justere elementerne til bunden */
 
}


.footer-info{
  color: white;
}

.footer-social-media {
  display: flex;
  align-items: center; /* centrerer elementerne lodret */
  margin-left: auto; /* flytter elementerne til højre */
}

.footer-social-media ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; /* placer elementerne vandret */
}

.footer-social-media li {
  margin-left: 10px; /* tilføjer mellemrum mellem ikonerne */
}


.copyright {
  padding: 10px 0 15px 0;
  color: white; 
  font-size: 0.8rem;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0; /* sørger for at copyright teksten er centreret */
}



