
*,
*::before,
*::after {
  box-sizing: border-box;
}


* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  /* Not widely supported */
  hanging-punctuation: first last;
}


/* responsive images */

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

/*For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}


/* Improve media defaults */
img,
picture,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Remove built-in form typography styles */
input,
button,
textarea,
select {
  font: inherit;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-family: "Montserrat", sans-serif;
}

p {
  margin-top: 5px;
  margin-bottom: 20px;
  
}


main {
  max-width: 700px;
  margin: auto;
  margin-top: 40px;
}



h2 {
  font-size: 1.2rem;
  font-weight: 600;
}
h3 {
  font-size: 1rem;
  font-weight: 600;
}

h1{
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

body{
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}



.fixed-nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Sørg for at navbaren vises øverst */
  background-color: #fe636b; /* Behold den samme baggrundsfarve */
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2); /* Behold skyggen */
}

nav{
  background-color: #fe636b;
  box-shadow: 3px 3px 5px rgb(0,0,0,0.2);
}

nav ul{
  width:100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center; 
}

nav li{
  height: 60px;
}

nav a{
  height: 100%;
  padding: 0 30px; 
  text-decoration: none; 
  display:flex;
  align-items:center;
  color: white; 
}

nav a:hover{
  background-color: #e15058;
}

nav li:first-child{
  margin-right:auto;
}


.dropdown{
  position:relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fe636b;
  color: white;
  list-style: none; 
  z-index: 1;
  padding:0;
  margin:0;
  min-width: 160px;

}

.dropdown-menu li {
  width: 100%;
}

.dropdown-menu a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-menu a:hover {
  background-color: #e15058;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.sidebar .dropdown-menu{
  position: static;
  background-color: #6b4a4c;
}

.sidebar a {
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  display: block;
}



.sidebar{
  position:fixed;
  top: 0;
  left:0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: #fe636b;
  box-shadow: 10px 0 10px rgb(0,0,0,0.1); 
  display: none;
  flex-direction: column;
  align-items: flex-start; 
  justify-content:start;
}

.burgermenu-button{
  display:none;
}

.sidebar li{
  width:100%;
}

.logo-container{
  margin-right: auto;
  height:40px;
  padding: 0 20px;
}


@media(max-width: 800px){
  .hideOnMobile{
    display:none;
  }
  .burgermenu-button{
    display:block;
  }

}


.indhold{
  padding: 30px;

}

.tekst-indhold{
  padding-top: 20px;
}

.punkter{
  padding: 20px;
  margin-top:0;
}

.punkter li{
  margin-top:0;
}

.ingen{
  margin-bottom: 0;
}

.forside-billede1 {
  position: relative;
  display: inline-block; /* Sørg for at billedet ikke strækker sig mere end dets eget indhold */
}

.runde-hjørner {
  width: 100%;
  height: auto;
  border-radius: 10px; /* eller hvor meget du vil runde hjørnerne */
}

.btn-link {
  position: absolute;
  bottom: 40px; /* Juster disse værdier efter behov */
  left: 25px;   /* Juster disse værdier efter behov */
  background-color: #fe636b;
  color: white;
  border-radius: 5px;
  padding: 10px 45px;
  border: none;
  font-size: 18px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s ease;
  text-decoration: none; /* Fjerner understregning fra ankerelementet */
  display: inline-block; /* Sikrer, at knapstilen anvendes korrekt */
}

.btn-link:hover {
  background-color: #ff4f58; /* Ændrer baggrundsfarve ved hover */
}

.btn-link:active {
  transform: scale(0.96);
}


.btn2-link {
  margin-top: 0px;
  background-color: #3D71C0;
  color: white;
  border-radius: 5px;
  padding: 10px 40px;
  border: none;
  font-size: 14px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s ease;
  text-decoration: none; /* Fjerner understregning fra ankerelementet */
  display: inline-block; /* Sikrer, at knapstilen anvendes korrekt */
}

.btn2-link:hover {
  background-color: #305e9b; /* Ændrer baggrundsfarve ved hover */
}

.btn2-link:active {
  transform: scale(0.96);
}


.heart{
  margin-top:10px;
  text-align: center;
}




/***STYLLING AF FOOOTER NEDENUNDER ****/

footer {
  background-color: #e15058;
  position: relative;
  padding-bottom: 50px; /* Tilføj padding for at skabe plads til copyright teksten */
}

.footer-wrapper {
  padding: 20px;
  display: flex;
  justify-content: space-between; /* Fordel pladsen jævnt mellem elementer */
  align-items: flex-end; /* Juster elementerne til bunden */
 
}


.footer-info{
  color: white;
}

.footer-social-media {
  display: flex;
  align-items: center; /* Centrer elementerne lodret */
  margin-left: auto; /* Flyt elementerne til højre */
}

.footer-social-media ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; /* Placer elementerne vandret */
}

.footer-social-media li {
  margin-left: 10px; /* Tilføj mellemrum mellem ikonerne */
}


.copyright {
  padding: 10px 0 15px 0;
  color: white; 
  font-size: 0.8rem;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0; /* Sørg for at copyright teksten er centreret */
}



