
*,
*::before,
*::after {
  box-sizing: border-box;
}


* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  /* Not widely supported */
  hanging-punctuation: first last;
}


/* responsive images */

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

/*For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* Smooth scrolling for users that don't prefer reduced motion */
@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
  }
}

/* Improve media defaults */
img,
picture,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Remove built-in form typography styles */
input,
button,
textarea,
select {
  font: inherit;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-family: "Montserrat", sans-serif;
}

p {
  overflow-wrap: break-word;
  text-wrap: pretty;
  
}




main {
  max-width: 700px;
  margin: auto;
}

h2 {
  font-size: 1 rem;
  font-weight: 600;
}
h3 {
  font-size: 1.2rem;
  font-weight: 600;
}

body{
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

nav{
  background-color: #fe636b;
  box-shadow: 3px 3px 5px rgb(0,0,0,0.2);
}

nav ul{
  width:100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center; 
}

nav li{
  height: 60px;
}

nav a{
  height: 100%;
  padding: 0 30px; 
  text-decoration: none; 
  display:flex;
  align-items:center;
  color: white; 
}

nav a:hover{
  background-color: #e15058;
}

nav li:first-child{
  margin-right:auto;
}


.dropdown{
  position:relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fe636b;
  color: white;
  list-style: none; 
  z-index: 1;
  padding:0;
  margin:0;
  min-width: 160px;

}

.dropdown-menu li {
  width: 100%;
}

.dropdown-menu a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-menu a:hover {
  background-color: #e15058;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.sidebar .dropdown-menu{
  position: static;
  background-color: #6b4a4c;
}

.sidebar a {
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  display: block;
}



.sidebar{
  position:fixed;
  top: 0;
  left:0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: #fe636b;
  box-shadow: 10px 0 10px rgb(0,0,0,0.1); 
  display: none;
  flex-direction: column;
  align-items: flex-start; 
  justify-content:start;
}

.burgermenu-button{
  display:none;
}

.sidebar li{
  width:100%;
}

.logo-container{
  margin-right: auto;
  height:40px;
  padding: 0 20px;
}


@media(max-width: 800px){
  .hideOnMobile{
    display:none;
  }
  .burgermenu-button{
    display:block;
  }

}

.indhold{
  padding: 20px;

}

.tekst-indhold{
  padding-top: 20px;
}

.punkter{
  padding: 20px;
}

.forside-billede{
  border-radius: 15px;
}

